src/TemperatureDataInterface_skel.cpp
src/TemperatureDataInterface_skel.h
src/TemperatureDataInterface.cpp
src/TemperatureDataInterface.h

.vscode
docs/.DS_Store
src/.DS_Store
.DS_Store

src/server
src/client

src/dane.txt